@model ColetaJaragua.Models.Tb_Produto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tb_Produto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo_Produto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo_Produto)
            @Html.ValidationMessageFor(model => model.Codigo_Produto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo_Medidas, "Tb_Codigo_UM")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Codigo_Medidas", String.Empty)
            @Html.ValidationMessageFor(model => model.Codigo_Medidas)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
